# Input

In [21]:
num1 = input()
num2 = input()

print(num1 + num2)

# List
https://docs.python.org/3/tutorial/datastructures.html

## Indexing

In [22]:
colors = ["red", "yellow", "green"]
print(colors)
print(type(colors))
print(type(colors[0]))
print(len(colors))

['red', 'yellow', 'green']
<class 'list'>
<class 'str'>
3

## Slicing

In [23]:
cities = ["Seoul", "Busan", "Asan", "Cheonan", "Jeju"]
print(cities[0:5:2])
# print(cities[0:end:1])
print(cities[0:-1:])

['Seoul', 'Asan', 'Jeju']
['Seoul', 'Busan', 'Asan', 'Cheonan']

In [24]:
cities[::2]

['Seoul', 'Asan', 'Jeju']

In [25]:
cities[::-1]

['Jeju', 'Cheonan', 'Asan', 'Busan', 'Seoul']

## Append

In [26]:
colors_1 = ["red", "yellow", "green"]
print("Colors_1 is: ", colors_1)

colors_2 = colors_1 + ["blue"]
print("Colors_2 is: ", colors_2)

colors_2.append("black")
print("Appended list of Colors_2 is: ", colors_2)

Colors_1 is:  ['red', 'yellow', 'green']
Colors_2 is:  ['red', 'yellow', 'green', 'blue']
Appended list of Colors_2 is:  ['red', 'yellow', 'green', 'blue', 'black']

In [27]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.append('grape')  # Why not fruits = fruits.append('grape')?
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'grape']

In [28]:
a = fruits.append('grape')  # Why not fruits = fruits.append('grape')?

In [29]:
print(a)

None

## Packing/unpacking
### "가능하면 list indexing보다는 unpacking을 사용하는 것이 가독성에 좋습니다."

In [30]:
colors = ["red", "yellow", "green"]
r, g, b = colors
print("Original list is: ", colors)
print("Unpacked list is: ", r, g, b)
print("Unpacked list with * is: ", *colors)

colors_packed = r, g, b
print("Packed list is: ", colors_packed)
print(type(colors_packed))

Original list is:  ['red', 'yellow', 'green']
Unpacked list is:  red yellow green
Unpacked list with * is:  red yellow green
Packed list is:  ('red', 'yellow', 'green')
<class 'tuple'>

## List and tuple (Mutable and immutable)
### "==": 값이 같은가?
### "is": 오브젝트가 같은가?

In [1]:
list1 = [1, 2, 3]
list2 = list1[0:3]
print(list1 is list2)
print(id(list1), id(list2))

tuple1 = (1, 2, 3)
tuple2 = tuple1[0:3]
print(tuple1 is tuple2)
print(id(tuple1), id(tuple2))

False
140379798294976 140379798289024
True
140381413648256 140381413648256

In [32]:
a = 1
b = 100000

print(a is 1)
print(b is 100000)

True
False

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/yr/jd3hph_53llgn3rcd194plzc0000gp/T/ipykernel_95408/1279639824.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(a is 1)
/var/folders/yr/jd3hph_53llgn3rcd194plzc0000gp/T/ipykernel_95408/1279639824.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(b is 100000)

* Mutable data types: list, dictionary, set, and user-defined classes.
* Immutable data types: int, float, decimal, bool, string, tuple, and range.

**Are int, float, etc, immutable??**

In [33]:
list_values = [1, 2, 3]
tuple_values = (10, 20, 30)
list_values[0] = 100
print(list_values)
tuple_values[0] = 100

[100, 2, 3]

TypeError: 'tuple' object does not support item assignment

### List is an object that can change themselves after we instantiate them.

In [ ]:
list1 = ['hi','bye',52,True,2.3]
print(id(list1), list1)

list1[1]='see u later'
print(id(list1), list1)

140200218474240 ['hi', 'bye', 52, True, 2.3]
140200218474240 ['hi', 'see u later', 52, True, 2.3]

### Integer cannot change themselves after we initialize them.

In [ ]:
integer1 = 1000
print(id(integer1), integer1)

integer1 += 1000
print(id(integer1), integer1)

140200771415536 1000
140200771415984 2000

### That is why we can use method to manipulate list, like append().

In [34]:
list2 = [1, 2, 3]
print(id(list2), list2)

list2.append(4) # Not list2 = list2.append(4)!!
print(id(list2), list2)

140200781017216 [1, 2, 3]
140200781017216 [1, 2, 3, 4]

### Unpacking, rather than indexing.

In [35]:
item = ("천안", "아산")
first = item[0]
second = item[1]
print(first, '&', second)

천안 & 아산

In [2]:
item = ("천안", "아산")
first, second = item
print(first, '&', second)

천안 & 아산

In [3]:
first, *others, second = item

In [4]:
print(first, others, second)

천안 [] 아산

In [37]:
arr = [1, 2]

temp = arr[0]
arr[0] = arr[1]
arr[1] = temp

print(arr)

[2, 1]

In [38]:
arr = [1, 2]

arr[0], arr[1] = arr[1], arr[0] # Actually, arr[1], arr[0] is a tuple (arr[1], arr[0]).

print(arr)

[2, 1]

### Unpacking, rather than slicing

* 가장 오래된 두 자동차의 나이를 출력하고 싶을 떄

In [5]:
car_ages = [0, 9, 4, 8, 7, 20, 19, 1, 6, 15]
car_ages_descending = sorted(car_ages, reverse=True)
oldest, second_oldest, *others = car_ages_descending

In [6]:
oldest, second_oldest, others

(20, 19, [15, 9, 8, 7, 6, 4, 1, 0])

* 1 차이나는 인덱스로 인한 off-by-one-error가 발생하기 쉽다.

In [40]:
oldest = car_ages_descending[0]
second_oldest = car_ages_descending[1]
others = car_ages_descending[2:]
print(oldest, second_oldest, others)

20 19 [15, 9, 8, 7, 6, 4, 1, 0]

In [41]:
oldest, second_oldest, *others = car_ages_descending
print(oldest, second_oldest, others)

20 19 [15, 9, 8, 7, 6, 4, 1, 0]

In [7]:
oldest, *others, youngest = car_ages_descending
print(oldest, youngest, others)

20 0 [19, 15, 9, 8, 7, 6, 4, 1]

In [8]:
oldest, others, youngest

(20, [19, 15, 9, 8, 7, 6, 4, 1], 0)

In [5]:
cars = [["age",	"gender",	"miles",	"debt",	"income",	"sales"],
        [28,	0,	23,	0,	4099,	620],
        [26,	0,	27,	0,	2677,	1792],
        [30,	1,	58,	41576,	6215,	27754],
        [26,	1,	25,	43172,	7626,	28256],
        [20,	1,	17,	6979,	8071,	4438],
        [58,	1,	18,	0,	1262,	2102],
        [44,	1,	17,	418,	7017,	8520],
        [39,	1,	28,	0,	3282,	500]]

In [6]:
header = cars[0]
rows = cars[1:]
print(header)
print(rows)

['age', 'gender', 'miles', 'debt', 'income', 'sales']
[[28, 0, 23, 0, 4099, 620], [26, 0, 27, 0, 2677, 1792], [30, 1, 58, 41576, 6215, 27754], [26, 1, 25, 43172, 7626, 28256], [20, 1, 17, 6979, 8071, 4438], [58, 1, 18, 0, 1262, 2102], [44, 1, 17, 418, 7017, 8520], [39, 1, 28, 0, 3282, 500]]

In [7]:
header, *rows = cars
print(header)
print(rows)

['age', 'gender', 'miles', 'debt', 'income', 'sales']
[[28, 0, 23, 0, 4099, 620], [26, 0, 27, 0, 2677, 1792], [30, 1, 58, 41576, 6215, 27754], [26, 1, 25, 43172, 7626, 28256], [20, 1, 17, 6979, 8071, 4438], [58, 1, 18, 0, 1262, 2102], [44, 1, 17, 418, 7017, 8520], [39, 1, 28, 0, 3282, 500]]