In [8]:
name = 'Seohyun Yim'

In [9]:
print(name)

Seohyun Yim

In [10]:
a = 7
b = 5

In [11]:
print(a + b)

12

# type 함수

In [12]:
print('a + b')

a + b

In [13]:
print(type(name))

<class 'str'>

In [14]:
print(type(a/b))

<class 'float'>

# isinstance 함수

In [15]:
isinstance(a, int)

True

In [16]:
isinstance(name, int)

False

In [17]:
n = True
isinstance(n, bool)

True

In [1]:
n = 1
isinstance(n, bool)

False

In [2]:
n = True

isinstance(n, int)

True

In [20]:
a = '10.5'
print(type(a))

<class 'str'>

In [21]:
b = float(a)
print(type(b))

<class 'float'>

In [22]:
a = 'abc'
print(type(a))

<class 'str'>

In [23]:
b = float(a)
print(type(b))

ValueError: could not convert string to float: 'abc'

In [25]:
a = '10.5'
b = int(a)
print(type(b))

ValueError: invalid literal for int() with base 10: '10.5'

In [27]:
a = int(10.7)
print(a)

10

In [28]:
a = '10'
b = '20'
print(a + b)

1020

In [30]:
print(a * 3)

101010