# F-string

In [1]:
name = input("Input your name.")
age = int(input("Input your age."))
affiliation = input("Input your affiliation.")

if age > 18:
    print(affiliation, "에 소속된", name, "님은,", age, "세로 판명되어 서비스 이용이 가능합니다.")
    # print(f"{affiliation}에 소속된 {name}님은 {age}세로 판명되어 서비스 이용이 가능합니다.")
else:
    print(affiliation, "에 소속된", name, "님은,", age, "세로 판명되어 서비스 이용이 불가능합니다.")
    # print(f"{affiliation}에 소속된 {name}님은 {age}세로 판명되어 서비스 이용이 가능합니다.")

iot 에 소속된 yim 님은, 22 세로 판명되어 서비스 이용이 가능합니다.

## R-string and printable representation

- R-string: json, html과 같은 문서에서 특수문자나 태그등을 변환하지 않고 그대로 사용할 수 있음

In [ ]:
string = "Hello World"

print(f"String is {string}")
print(r"String is {string}")

- repr:

In [ ]:
print(string)
print(repr(string))

In [ ]:
num_int = 100
num_str = "100"

print(f"num_int is {num_int}")
print(f"num_str is {num_str}")

print(f"num_int by repr is {repr(num_int)}")
print(f"num_str by repr is {repr(num_str)}")

# Conditional statement

## IF-ELIF-ELSE statement

In [ ]:
# score = int(input("Enter your score: "))
score = 79

if score >= 90:
    grade = 'A'
if score >= 80:
    grade = 'B'
if score >= 70:
    grade = 'C'
if score >= 60:
    grade = 'D'
if score < 60:
    grade = 'F'

print(grade)

In [ ]:
myage = int(input("Tell me your age."))

if myage < 30:
    print("Welcome to this club!")
else:
    print("You are not allowed to this club.")

## Static memory allocation

In [ ]:
a = 1000
b = 1000
print(a == b)
print(a is b)
print(id(a) == id(b))

c = 1
d = 1
print(c == d)
print(c is d)
print(id(c) == id(d))

# Loop statement
## FOR/WHILE statement

In [ ]:
for ind in [1, 2, 3, 4, 5]:
    print(ind)

In [ ]:
for ind in range(1, 10):
    print(ind)

In [ ]:
for ind in "SCH university":
    print(ind)

In [ ]:
i = 0
while i < 10:
    print(i)
    i += 1

### break, continue, else

In [ ]:
for i in range(5):
    print(i)
    if i == 3:
        break

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)

- DO NOT use else for loop statement

In [ ]:
for i in range(5):
    print(i)
else:
    print("done")

### enumerate function

In [ ]:
for char in "SCH university":
    print(char)

In [ ]:
for ind, char in enumerate("SCH university"):
    print(ind, char)

In [ ]:
flavor_list = ["vanilla", "chocolate", "pecan", "strawberry"]
for flavor in flavor_list:
    print(flavor)

In [ ]:
for i in range(len(flavor_list)):
    flavor = flavor_list[i]
    print(f"{i + 1}: {flavor}")

### enumerate: "lazy generator"
https://docs.python.org/ko/3/library/functions.html#enumerate

In [ ]:
for i, flavor in enumerate(flavor_list):
    print(f"{i + 1}: {flavor}")

In [ ]:
for i, flavor in enumerate(flavor_list, 1):
    print(f"{i}: {flavor}")

### iterator and generator
- iterator: an object that continues to return the next value when calling the next() function.

In [ ]:
# For example, how is the entry of the following list allocated to the variable i for each iteration?

for i in [1, 2, 3, 4]:
    print(i)

In [ ]:
a = [1, 2, 3, 4]
next(a)

In [ ]:
a = [1, 2, 3, 4]
it_a = iter(a)
print(next(it_a))
print(next(it_a))
print(next(it_a))
print(next(it_a))

In [ ]:
it_enum = enumerate(flavor_list)
print(next(it_enum))
print(next(it_enum))
print(next(it_enum))
print(next(it_enum))

- generator: a function that creates an iterator.

In [ ]:
def test_generator():
    yield 1
    yield 2
    yield 3

gen = test_generator()
print(next(gen))
print(next(gen))
print(next(gen))

## Assignment expression (walrus operator)
https://docs.python.org/3/faq/design.html#why-can-t-i-use-an-assignment-in-an-expression

<img src="https://int-i.github.io/assets/posts/2020-05-29-python-walrus-operator/walrus.jpg" width="300" height="300">

In [ ]:
a = [1, 2, 3, 4, 5, 6]
n = len(a)
if n > 5:
    print(f"List is too long ({n} elements, expected <= 5)")

In [ ]:
a = [1, 2, 3, 4, 5, 6]
if (n := len(a)) > 5:
    print(f"List is too long ({n} elements, expected <= 5)")

## Lab: 구구단 계산기

## Lab: 문자열 역순 출력

## Lab: 야구게임
```
Num_a: 156, Num_b: 657
1S 1B

Num_a: 123, Num_b: 231
0S 3B
```

In [ ]:
num_a = "123"
num_b = "231"

## Lab: 서로소 여부 출력하기

```
5 and 7 are coprime.

12 and 16 are not coprime. GCD is 4.
```